body {
    background-color: bisque;
    font-family: roboto, arial, helvetica;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: darkgreen;
    display: block;
}

nav li {
    display: inline-block;
}

nav li:hover {
    background-color: gold;
}

section {
    display: flex;
    margin: 0 auto;
    flex-wrap: content;
    border: 2px solid black;
    gap: 5px;
}

article {
    flex: 1;
    min-width: 0;
    border-radius:5%;
}

@media(max-width: 480px) {
section{
flex-direction: column;
}
}
article:hover {
    transform: scale(1.10);
}

.promotion {
    margin: 3%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("imgs/promotion.jpg");
    filter: brightness(80%);
}

.promotion h1 {
    color: orange;
    flex: 1;
}

.promotion p {
    flex: 4;
    color: white;
}

.our_menu {
    margin: 1.5%;
    color: darkgreen;
    position: relative;
    display: flex;
    flex-direction: column;
}

.our_menu a{
    margin-top: 10%;
}

.book_a_table {
    margin: 1.5%;
    color: darkgreen;
    position: relative;
    display: flex;
    flex-direction: column;
}

.opening_hours {
    margin: 1.5%;
    color: darkgreen;
    position: relative;
    display: flex;
    flex-direction: column;
}

.image_articles {
border-radius: 10%;
min-height: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer div {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    min-width: 0;
}

#img_footer {
    height: 15vh;
    border: 1.5px solid black;
    padding: 8px;
}
